.option{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	z-index: 50;
}

#layer-0 {
	background: rgba(92,71,255,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgb(19 0 51) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,71,255,0)), color-stop(25%, rgba(0,0,0,1)), color-stop(100%, rgb(19 0 51)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgb(19 0 51) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgb(19 0 51) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgb(19 0 51) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgb(19 0 51) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c47ff', endColorstr='#ff47ff', GradientType=0 );
	height:150px;
	width:200vw;
	opacity:1;
	position:absolute;
	bottom:0px;
	top: 250px;
	left:0;
	right: 0;
	margin: 0 -50%;
	overflow: hidden;
	transform: perspective(100px) rotateX(60deg);
	z-index: -5;
}

#layer-1 {
	background: rgb(72 13 145 / 82%);
	background: -moz-linear-gradient(45deg, rgb(72 13 145 / 82%) 0%, rgba(92,71,255,0) 50%, rgba(92,71,255,0) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgb(72 13 145 / 82%)), color-stop(50%, rgba(92,71,255,0)), color-stop(100%, rgba(92,71,255,0)));
	background: -webkit-linear-gradient(45deg, rgb(72 13 145 / 82%) 0%, rgba(92,71,255,0) 50%, rgba(92,71,255,0) 100%);
	background: -o-linear-gradient(45deg, rgb(72 13 145 / 82%) 0%, rgba(92,71,255,0) 50%, rgba(92,71,255,0) 100%);
	background: -ms-linear-gradient(45deg, rgb(72 13 145 / 82%) 0%, rgba(92,71,255,0) 50%, rgba(92,71,255,0) 100%);
	background: linear-gradient(45deg, rgb(72 13 145 / 82%) 0%, rgba(92,71,255,0) 50%, rgba(92,71,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c47ff', endColorstr='#5c47ff', GradientType=1 );
	height: inherit;
	width: inherit;
	opacity:1;
	position:absolute;
	top:0;
	left:0;
	right: 0;
	margin: auto;
	z-index: -5;
}

#layer-2 {
	background: rgba(92,71,255,0);
	background: -moz-linear-gradient(-45deg, rgba(92,71,255,0) 0%, rgba(92,71,255,0) 50%, rgb(72 13 145 / 82%) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(92,71,255,0)), color-stop(50%, rgba(92,71,255,0)), color-stop(100%, rgb(72 13 145 / 82%)));
	background: -webkit-linear-gradient(-45deg, rgba(92,71,255,0) 0%, rgba(92,71,255,0) 50%, rgb(72 13 145 / 82%) 100%);
	background: -o-linear-gradient(-45deg, rgba(92,71,255,0) 0%, rgba(92,71,255,0) 50%, rgb(72 13 145 / 82%) 100%);
	background: -ms-linear-gradient(-45deg, rgba(92,71,255,0) 0%, rgba(92,71,255,0) 50%, rgb(72 13 145 / 82%) 100%);
	background: linear-gradient(135deg, rgba(92,71,255,0) 0%, rgba(92,71,255,0) 50%, rgb(72 13 145 / 82%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c47ff', endColorstr='#5c47ff', GradientType=1 );
	height: inherit;
	width: inherit;
	opacity:1;
	position:absolute;
	top:0;
	left:0;
	right: 0;
	margin: auto;
	z-index: -5;
}

#layer-corner {
	background: rgb(72 13 145 / 25%);
	background: -moz-linear-gradient(top, rgb(72 13 145 / 25%) 0%, rgba(96,130,223,0) 54%, rgba(117,24,240,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(72 13 145 / 25%)), color-stop(54%, rgba(96,130,223,0)), color-stop(100%, rgba(117,24,240,0)));
	background: -webkit-linear-gradient(top, rgb(72 13 145 / 25%) 0%, rgba(96,130,223,0) 54%, rgba(117,24,240,0) 100%);
	background: -o-linear-gradient(top, rgb(72 13 145 / 25%) 0%, rgba(96,130,223,0) 54%, rgba(117,24,240,0) 100%);
	background: -ms-linear-gradient(top, rgb(72 13 145 / 25%) 0%, rgba(96,130,223,0) 54%, rgba(117,24,240,0) 100%);
	background: linear-gradient(to bottom, rgb(72 13 145 / 25%) 0%, rgba(96,130,223,0) 54%, rgba(117,24,240,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47ffcb', endColorstr='#7518f0', GradientType=0 );
	height: inherit;
	width: inherit;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -5;
	animation: layercorneranim 2.5s ease-in-out infinite alternate;	
}

#hey {
	width: 100%;
	background-color: rgb(3, 0, 17);
	position: absolute;
	top: 325px; right: 0; left: 0;
	margin: auto;
	z-index: -3;
	transform: perspective(200px);
}

#layer-up {
	background: linear-gradient(to bottom, rgba(71,255,203,0) 0%, rgba(71,255,203,0) 50%, rgb(125 0 228 / 46%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f0088', endColorstr='#3f0088', GradientType=0 );
	height:100px;
	width: inherit;
	opacity: 1;
	position: absolute;
	bottom:0; left:0; right: 0; margin: auto;
	overflow: hidden;
	z-index: -1;
	animation: layerupanim 2.5s ease-in-out infinite alternate;	
}

#lines {
    background-size: 40px 40px;    
    background-image: repeating-linear-gradient(0deg, #490d91, #490d91 2px, transparent 1px, transparent 40px),repeating-linear-gradient(-90deg, #490d91, #490d91 2px, transparent 2px, transparent 40px);
    height:200px;
    width:100%;
    opacity:1;
    position:absolute;
    top:0;
    left:0;
    z-index:-4;
	
	animation: animWave 2s linear infinite;
}

#mountain {
	padding-top: 20rem;
	display: flex;
	flex: 1;
	z-index: -3;
	justify-content: center;
	align-items: flex-end;
	position: relative;
  
	&:after {
	  content: "";
	  position: absolute;
	  bottom: -0.5vmin;
	  left: 0;
	  right: 0;
	  background: #1a0022;
	  height: 5vmin;
	  clip-path: polygon(0% 38%, 2.94% 51.03%, 5.88% 2.06%, 10.55% 59.33%, 15.85% 28.5%, 22.13% 61.33%, 23.57% 15.62%, 28.84% 50.96%, 33.56% 0%, 40.03% 79.96%, 49.05% 66.1%, 58.72% 70.6%, 63.44% 0%, 71.2% 70%, 75.19% 35%, 81.4% 0%, 86.61% 48.47%, 94.47% 42.24%, 100% 8%, 100% 100%, 0% 100%);
	  background-color: #000000;
	}

	&:before {
	  content: "";
	  position: absolute;
	  bottom: -1vmin;
	  left: 0;
	  right: 0;
	  background: rgba(0, 0, 0, 0.2);
	  mix-blend-mode: soft-light;
	  height: 15vmin;
	  backdrop-filter: blur(20px);
	   /* ⚙️ gen: https://unused-css.com/tools/clip-path-generator?p=22AwLgzAHANATAdANhAFmFArHZIbKhOAdhHQE4oBGMREQmSg9HemCo8dWQuGEaMbOjBQwpLHwpRkYin07pkcJgjwJQQqITa9CaQghq58bbGgjdZVKKUW8YhSsFBh6FJyDdpQngNx+AxE5BwEA */
	  clip-path: polygon(
		0% 38%,
		2.6% 40%,
		5.4% 24%,
		8.7% 59%,
		13.6% 72%,
		18.5% 22%,
		21.7% 35%,
		27.2% 8%,
		34% 53%,
		39.4% 81%,
		49.1% 85%,
		54.5% 64%,
		60% 53%,
		71.2% 70%,
		76.6% 24%,
		81.4% 0%,
		87.1% 13%,
		94.2% 27%,
		100% 32%,
		100% 100%,
		0% 100%
	  );
	}
  }

  #sun {
	position: absolute;
	display: grid;
	grid-template: 1fr / 1fr;
	inline-size: min(80vmin, 400px);
	aspect-ratio: 1;
	border-radius: 50%;
	font-size: 0;
	transform: translate(-50%);
	margin-left: 50%;
	z-index: -3;
	
	--bg: #f9124f; 
	filter: drop-shadow(0 0 min(20px, 5vmin) var(--bg));
	background: radial-gradient(
	   circle at center, 
	   var(--bg) 0, var(--bg) 53%, transparent 60%
	);
 }
 
 #sun::after {
	content: "";
	grid-area: 1 / 1;
	background: linear-gradient(#fcc22f, #f945e5);
	border-radius: inherit;
	
	--mask: linear-gradient(to top,
	  #0000001a 1.5% , #0000001a 2%   , #0000001a 5%   , #0000001a 5.5% 
	 ,#0000001a 7.5% , #0000001a 8%   , #0000001a 10.6%, #0000001a 11.1% 
	 ,#0000001a 13.6%, #0000001a 14.1%, #0000001a 16.3%, #0000001a 16.8%
	 ,#000 19.8%, #0000 20.3%, #0000 22.1%, #000 22.6% 
	 ,#000 26.1%, #0000 26.6%, #0000 28%  , #000 28.5% 
	 ,#000 32.5%, #0000 33%  , #0000 34%  , #000 34.5% 
	 ,#000 39%  , #0000 39.5%, #0000 40.1%, #000 40.6% 
	 ,#000 46.6%, #0000 47.1%, #0000 47.5%, #000 48% 
	 ,#000 53.5%, #0000 54%  , #0000 54.2%, #000 0
	) no-repeat;
	
	-webkit-mask: var(--mask);
	mask: var(--mask);
 }

#sunReflection {
	position: absolute;
    display: grid;
    grid-template: 1fr / 1fr;
    inline-size: min(80vmin, 400px);
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 0;
    translate: -50%;
    margin-left: 50%;
    z-index: -4;
	overflow: hidden;
    --bg: #f9124f70;
    filter: drop-shadow(0 0 min(20px, 5vmin) var(--bg));
    background: radial-gradient(circle at center, #f9124f66 0, #f9124f47 53%, transparent 60%);
    transform: translateY(79%) rotateX(180deg) scaleY(1.1) scaleX(2.1);
    perspective: 7rem;
    filter: blur(9px);

	&:after {
		content: "";
		grid-area: 1 / 1;
		background: linear-gradient(#fcc22fa4 60%, #f945e49d);
		border-radius: inherit;
		
		--mask: linear-gradient(to top,
		  #000 1.5% , #0000 2%   , #0000 5%   , #000 5.5% 
		 ,#000 7.5% , #0000 8%   , #0000 10.6%, #000 11.1% 
		 ,#000 13.6%, #0000 14.1%, #0000 16.3%, #000 16.8%
		 ,#000 19.8%, #0000 20.3%, #0000 22.1%, #000 22.6% 
		 ,#000 26.1%, #0000 26.6%, #0000 28%  , #000 28.5% 
		 ,#000 32.5%, #0000 33%  , #0000 34%  , #000 34.5% 
		 ,#000 39%  , #0000 39.5%, #0000 40.1%, #000 40.6% 
		 ,#000 46.6%, #0000 47.1%, #0000 47.5%, #000 48% 
		 ,#000 53.5%, #0000 54%  , #0000 54.2%, #000 0
		) no-repeat;
		
		-webkit-mask: var(--mask);
		mask: var(--mask);
		
	 }
  }

@media screen and (max-width: 1450px) {
	.PortfolioDesc{
		visibility: hidden;
	}

	.videoPres{
		visibility: hidden;
	}
}

@keyframes animWave {
	from {
		transform: translateY(-20%);
	  }
	  to { 
		transform: translateY(0%);
	  }
}

@keyframes layerupanim
{
	from {
		height: 80px;
	}
	to {
		height: 155px;
	}
}

@keyframes layercorneranim
{
	from {
		height: 400px;
	}
	to {
		height: 540px;
	}
}
